POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=barber_queue

JWT_SECRET=change-this-to-a-long-random-secret-at-least-32-characters
JWT_EXPIRES_IN=15m

# Domain bilan deploy qilsangiz:
# WEB_ORIGIN=https://barber.example.com
# NEXT_PUBLIC_API_URL=https://api.barber.example.com

# Oddiy VPS IP bilan test qilsangiz:
WEB_ORIGIN=http://YOUR_SERVER_IP:3000
NEXT_PUBLIC_API_URL=http://YOUR_SERVER_IP:4000

WEB_PORT=3000
API_PORT=4000
